
@mixin btn-main-size{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    border: solid 1px $color-main; //el borde ya debe estar asignado aca, para evitar que en el hover se afecten los tamaños
}

@mixin btn-sm-hover{
    font-size: 0.75rem;
    padding: 0.1rem 1rem;
}
@mixin btn-sec-design{
    color: black;
    background-color: transparent;
    border: none;
}

@mixin btn-sec-hover{
    color: #888888;
    background-color: transparent;
    border: none;
}

$color-main: #0075FF;

.btn-main{
    @include btn-main-size();
    background-color: $color-main;
    color: white;
    

    &:hover{
        background-color: rgb(25, 47, 211);
        border: solid 1px rgb(155, 146, 146);//coomo el borde ya está asignado al main, aca solo cambia de color, no asi de tamaño del btn

    }

    &-s{
        @extend .btn-main;
        @include btn-sm-hover();
    }
}


.btn-sec{
    @include btn-sec-design();
    margin-right: 1rem;

    &:hover{
        @include btn-sec-hover();
    }
    &-s{
        @extend .btn-sec;
    }
}

.main-menu{
    margin: 0;
   
    text-align: center;
    li{
        list-style: none;
        display: inline;
        font-size: 1.1rem;
        
        a{
            color: black;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
    }
    
}

.icon-desc{
    background-color: #888888;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .icon{
        padding: 0;
        color: $color-main;
        font-size: 10rem;
    }

    .title{
      font-weight: 600;
      font-size: 1.5rem;
      margin-top: -3rem;
    }


}
