@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;0,500;1,100&family=Quicksand:wght@300;400;500&display=swap');

*{
    font-family: 'Barlow', sans-serif;
    font-family: 'Quicksand', sans-serif;
    color: white;
}
body{
    background-color: #161717;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 500px;
    margin: auto;
}
.buttons{
    /* align-self: flex-start; */
    display: flex;
    gap: 20px;
    justify-content: center;
}
.google-btn{
    background-color: #1A73E8;
    color: white;
    border: none;
    border-radius: 5px;
    height: 32px;
    display: flex;
    align-items: center;
    padding-left: 1px;
    cursor: pointer;
}

.google-btn picture{
    width: 30px;
    background-color: rgb(250, 248, 248);
    height: 30px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

}  

.google-btn picture img{
   
    width: 75%;
}
.twitter-btn{
    height: 32px;
    width: 40px;
    font-weight: 900;
    font-size: 25px;
    border-radius: 10px;
    border: none;
    background-color: #dcdcdc;
    cursor: pointer;
}
.twitter-btn picture{
    color: #1A73E8;
}
.twitter-btn:hover{
    background-color: rgb(199, 198, 198);
}
.google-btn:hover{
    opacity: 0.8;
}

.google-btn span{
    color: white;
    padding: 4px;
}
 
.separator{
    display: flex;
    width: 100%;
    gap: 10px;
}
.separator hr{
    flex-grow: 1;
    border: none;
    border-top: 1px solid rgb(205, 205, 205);
}
.separator span{
    color: rgb(180, 180, 180);
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section-input{
    display: flex;
    gap: 50px;
    
}
.section-input label{
    width: 100%;
    
}

.section-input input, .section-email input, .section-pass input{
    width: 100%;
    border: none;
    background-color: #212121;
    outline: none;
    border-radius: 10px;
    height: 29px;
    margin-top: 10px;
    padding-left: 20px;
    transition: 0.3s, border 0.3s;
}

label input:hover{
    background-color: #454045;
    border: 1px solid rgb(217, 217, 217);
    cursor: pointer;
    box-shadow: 0 0 5px rgb(255, 194, 255);
    
   
    
}
label input:focus{
    background-color: white;
    border: 1px solid rgb(217, 217, 217);
    cursor: pointer;
    box-shadow: 0 0 5px rgb(255, 194, 255);
    transition: 0.3s;
    
}

.condiciones{
    font-weight: 900;
}

.submit-btn{
    width: 100%;
    background-color:#EA4C89;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: 400;
    color: white;
    font-size: 14pt;
    cursor: pointer;
}
.submit-btn:hover{
    opacity: 0.8;
}